@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;

}

.mainbody {
    background-color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    color: white;
    transition: all .4s ease-in-out;
}
