@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



.maincontainer {
  background-image: url(sitebackgroundimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  
}

.welcomehome {
    text-align: center;
    color: antiquewhite;
    padding-top: 20px;
    font-family: "Playfair Display", serif;
    font-size:x-large;
  }

  .homescreentext {
    text-align: center;
    color: antiquewhite;
    padding-top: 250px;
    font-family: "Playfair Display", serif;
    font-size:large;
  }
