.container {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    
}

.homelink {
    background-image: url(homeicon.png);
    padding: 1rem;
    cursor: pointer;
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.cvlink {
    background-image: url(cvicon.png);
    padding: 1rem;
    cursor: pointer;
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.aboutmelink {
    background-image: url(aboutmeicon.png);
    padding: 1rem;
    cursor: pointer;
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.githublink {
    background-image: url(githubicon.png);
    padding: 1rem;
    cursor: pointer;
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.homelink:hover {
    transform: scale(1.4);
}

.cvlink:hover {
    transform: scale(1.4);
}

.aboutmelink:hover {
    transform: scale(1.4);
}

.githublink:hover {
    transform: scale(1.4);
}

.homelink:active {

    box-shadow: 5px 5px 10px #e05f19;
}

.cvlink:active {

    box-shadow: 5px 5px 10px #e05f19;
}

.aboutmelink:active {

    box-shadow: 5px 5px 10px #e05f19;
}

.githublink:active {

    box-shadow: 5px 5px 10px #e05f19;
}
