@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* body {
    background-image: linear-gradient(rgba(0,0,0,0.4), #4276e7), url(aboutmebackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  } */

  .aboutmebannertext {
    text-align: center;
    color: antiquewhite;
    padding-top: 20px;
    padding-left: 20px;
    font-family: "Playfair Display", serif;
    font-size:xx-large;
  }

  .aboutmetext {
    text-align: center;
    color: antiquewhite;
    padding-top: 150px;
    font-family: "Playfair Display", serif;
    font-size:x-large;

  }

  .aboutmetext2 {
    text-align: center;
    color: antiquewhite;
    font-family: "Playfair Display", serif;
    font-size:x-large;

  }